@mixin flex($justify-content:space-between, $align-items:center, $flex-dir:row, $wrap:nowrap){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-dir;
    flex-wrap: $wrap;
}

@mixin fonts($font-size:14px, $font-weight:400, $line-height:normal, $font-style:normal){
font-size: $font-size;
font-weight: $font-weight;
line-height: $line-height;
font-style: $font-style;
}